.system-container {
  display: flex;
  min-height: 100vh;
  .system-content {
    width: 100%;
    .content{
      padding: 10px;
      background-color: var(--neutral-200);
      height: calc(100vh - 600px);
      overflow-y: scroll;
    }
  }
}
