.search-group {
  position: relative;
    .img-input{
      inline-size: 30px;
      block-size: 30px;
      position: absolute;
      left: 6px;
    }
    .input {
  border-radius: 100vh;
  padding-left: 2rem;
  border: 1px solid var(--neutral-300);
  max-width: 250px;
  background-color: transparent;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  font-family: "Rubik-Regular";
  color: var(--neutral-400);
  font-size: 14px;
  &::placeholder {
  font-family: "Rubik-Regular";
  color: var(--neutral-350);
  font-size: 14px;

}
}
}
