<div class="dropdown-menu" > 
            <div class="dropdown-content">
                <ul class=" downdrop-wrapper d-flex flex-column justify-content-center align-items-center gap-1">
                @for(massege of messages ; track $index ){
                    <li class="message-container  ">
                     <a href="" class="d-flex gap-2 align-items-center" >
                       <div class="user-img">
                          <img  src= "{{massege.userImage}}" alt="User Image" class="img-fluid">
                       </div>
                        <div class="content d-felx justify-content-between align-items-start"
                        [ngClass]="{'active': massege.status === 'new'}">
    
                          <h2 class="user-name">{{massege.userName}}</h2>
                          <p class="message">{{massege.message}}</p>
                        </div>
                     </a>
                    </li>
    
                }
                
              </ul>
            </div>
            <div class="allMessages  text-center position-fixed bottom-0">
                <a href="" > All Messages</a>
            </div>
</div>
